<div class="center">
<h1 class="center"><%= @language.name %></h1>

<% if @language.users.count == 1 %>
<p> There is 1 speaker for this language</p>
<% else %>
<p> There are <%= @language.users.count %> speakers for this language</p>
<% end %>


<% @language.users.each do |user| %>
    <%= user.name %><br>
    <% end %>
    
    </br>


        <h3>Call a native speaker!</h3>
        <%= link_to "Call", new_language_call_path(@language.slug), class:"button"%>
</div>



