<h1><%= @language.name %></h1>

<% if @language.users.count == 1 %>
<p> There is 1 speaker for this language</p>
<% else %>
<p> There are <%= @language.users.count %> speakers for this language</p>
<% end %>
</br>

<ul> 
    <% @language.users.each do |user| %>
        <%= user.name %><br>
    <% end %>
</ul>

<div class="center"> 
        Call a native speaker! <br/>
        <br>
        <%= link_to "Call", new_language_call_path(@language), class:"button"%>
</div>

