<div class="center">
<h1 class="center"> Welcome <%= @user.name %></h1>

<% if @user.admin == true %>
    <h3>Admin User</h3>
<% end %>    


    <div>Username: <%= @user.username %></div>
    


<p>Languages you speak: </p>
<% @user.languages.each do |language| %>
    <%= link_to language.name, language_path(language.slug) %><br>
<% end %>
</div>