<div class="center">
<h1> Welcome <%= @user.name %></h1>
</div>
<% if @user.admin == true %>
    <h3>Admin User</h3>
<% end %>    

<ul>
    <div class="center">Username: <%= @user.username %></div>

</ul>


<%= link_to "Languages", languages_path %>