<div class="center">
<% if @user.name %>
    <h1 class="center"> Welcome, <%= @user.name %>!</h1>
<% else %>
    <h1 class="center"> Welcome! </h1>
<% end %>    

<% if @user.admin == true %>
    <h3>Admin User</h3>
<% end %>    


    <div>Username: <%= @user.username %></div>
    


<p>Languages you speak: </p>
<% if @user.languages.count == 0 %>
<br>
    <p> You have not set up your account! <br>
     Please go to settings and edit your account.</p>
<% else %>     
    <% @user.languages.each do |language| %>
        <%= link_to language.name, language_path(language.slug) %><br>
    <% end %>
<% end %>
</div>

<div>
        <h4>Calls you've done</h4>
        <% @user.calls.each do |call| %>
            <% call.
</div>  