<div class="center">
<h1 class="center"> Welcome <%= @user.name %></h1>
</div>
<% if @user.admin == true %>
    <h3>Admin User</h3>
<% end %>    

<ul>
    <div class="center">Username: <%= @user.username %></div>
    
</ul>
<div>
<p>Languages you speak: </p>
<% @user.languages.each do |language| %>
    <%= link_to language.name, language_path(language.slug) %><br>
<% end %>
</div>