<%= render "logo" %>


<h1 class="center">Admin Access</h1>

<div class="center">
    <%= link_to "SignUp", signup_path, class:'button' %>
    <%= link_to "Login", login_path, class:'button' %>
</div>