
<%= render "logo" %>
<br></br>

<div class="center">
    <%= link_to "Sign Up", signin_path, class:"button"%>    
    <%= link_to "Log In", login_path, class:"button"%>
</div>

<div class="center">
  <%= link_to "Admin", admin_path, class:"button"%>
</div>